body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../img/Vector1.svg"), url("../img/Vector3.svg");
  background-repeat: no-repeat;
  background-position: top left, left top 22rem;
  min-height: 100vh;
}

.logo__topo {
  display: none;
}

.patas{
position: relative;
left: 30%;
top: 2.8rem;
}

.app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg-white {
  background-color: var(--white);
}

.logomarca {
  margin-top: 2rem;
}

.title,
.text {
  color: var(--blue);
  font-family: var(--primaryFont);
  font-weight: 400;
  font-size: 1em;
  line-height: 21px;

  margin-top: 1rem;
}

.text {
  width: 312px;
  height: 71px;
}


.rodape {
  margin-top: 120px;
  background-color: var(--light-green);
  color: var(--white);
  font-family: var(--primaryFont);

  width: 100vw;
  padding: 3rem 0rem 3rem 0rem;

  text-align: center;
}

.form__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#label__info {
  font-family: var(--primaryFont);
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  padding: 0.5rem 0rem 0.2rem 0rem;
}

.input__info {
  background-color: var(--light-gray);

  /* Legenda */

  color: var(--medium-gray);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  height: 40px;
  width: 312px;

  border: 1px solid var(--light-gray);
  border-radius: 6px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.eye {
  position: relative;
  left: 8.5rem;
  bottom: 1.8rem;
}

.btn-submit {
  background-color: var(--light-red);

  border: 0px;
  border-radius: 6px;

  width: 148px;
  height: 40px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
}
