body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../img/Vector1.svg"), url("../img/Vector2.svg");
  background-repeat: no-repeat;
  background-position: top left, center right;
  min-height: 100vh;
}

.bg-blue {
  background-color: var(--blue);
}

.title {
  color: var(--white);
  font-family: var(--secodaryFont);
  font-weight: 500;
  font-size: 1.6em;
  line-height: 48px;

  margin-top: 1.5rem;
}

.logomarca {
  margin-top: 4rem;
}

.text {
  color: var(--white);
  font-family: var(--primaryFont);
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;

  height: 72px;
  width: 248px;
  margin: 2rem 0rem 2.5rem 2.5rem;
  padding-left: 1.5rem;
}

.btn {
  margin: 0 auto 1em;

  background-color: var(--light-red);
  border-radius: 6px;

  display: block;

  width: 50%;

  text-decoration: none;
  font-family: var(--primaryFont);
  color: var(--white);
  font-size: 1em;
  padding: 0.5em;
}

.pets {
  padding-right: 3rem;
  margin-bottom: -25px;
}

.rodape {
  position: absolute;
  background-color: var(--light-green);
  color: var(--white);
  font-family: var(--primaryFont);

  width: 100vw;
  padding: 3rem 0rem 3rem 0rem;

  text-align: center;
}
