:root {
  --blue: #3772ff;
  --white: #ffffff;
  --light-red: #fc7071;
  --light-green: #36d6ad;
  --cream: #fcf0e3;
  --dark-gray: #737380;
  --medium-gray: #bcbcbc;
  --light-gray: #f7f7f7;

  --primaryFont: "Poppins", sans-serif;
  --secodaryFont: "IBM Plex Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#menu {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 120px;
}

#menu > a {
  padding-left: 3rem;
}

.conteudo {
  text-align: center;
}


