@media screen and (min-width: 768px) and (max-width: 1400px) {
  body {
    background-image: url("../../img/TabletVector.svg"),
      url("../../img/TabletVector2.svg");
    background-position: top left, top 100% right;
  }

  #menu {
    padding: 4rem 0 0 4rem;
  }

  .logo__topo {
    display: block;

    width: 128px;
    height: 30px;
    padding-left: 1.5rem;
  }

  #perfil {
    position: relative;
    left: 28%;
  }

  .text {
    font-size: 1.1em;

    margin-top: 10rem;

    width: 524px;
    height: 52px;
  }

  .form__info {
    width: 524px;
    height: 920px;
  }

  .profile {
    margin: 0 0 0 0;

    position: relative;
    left: 40%;

    height: 80px;
    width: 80px;
  }

  .info_Perfil {
    margin-right: 2rem;
  }

  .form__input {
    width: 492px;
    height: 80px;
  }

  .msg-textArea {
    width: 492px;
    height: 104px;
  }

  .btn-submit {
    position: relative;
    left: 20%;
  }
}
@media screen and (min-width: 1401px) {
  body {
    background-image: url("../../img/VectorDesktop.svg"),
      url("../../img/Vector2Desktop.svg");
    background-position: top left, top 100% right;
  }

  #menu {
    padding: 4rem 0 0 4rem;
  }

  .logo__topo {
    display: block;

    width: 128px;
    height: 30px;
    padding-left: 1.5rem;
  }

  #perfil {
    position: relative;
    left: 65%;
  }

  .text {
    font-size: 1.1em;

    margin-top: 10rem;

    width: 524px;
    height: 52px;
  }

  .form__info {
    width: 524px;
    height: 920px;
  }

  .profile {
    margin: 0 0 0 0;

    position: relative;
    left: 40%;

    height: 80px;
    width: 80px;
  }

  .info_Perfil {
    margin-right: 2rem;
  }

  .form__input {
    width: 492px;
    height: 48px;
  }

  .msg-textArea {
    width: 492px;
    height: 172px;
  }

  .btn-submit {
    position: relative;
    left: 20%;
  }
}
